In [65]:
import pandas as pd

temperature = pd.read_csv('hr_temp_20170201-20200131_subset.csv', parse_dates=['DATE'])
energy = pd.read_csv('hrl_load_metered - 20170201-20200131.csv', parse_dates=['datetime_beginning_ept'])

In [66]:
energy.head()

,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,2/1/2017 5:00,2017-02-01 00:00:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,2/1/2017 6:00,2017-02-01 01:00:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,2/1/2017 7:00,2017-02-01 02:00:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,2/1/2017 8:00,2017-02-01 03:00:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,2/1/2017 9:00,2017-02-01 04:00:00,RFC,WEST,DUQ,DUQ,1391.265,True

In [67]:
temperature.head()

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature
0,72520514762,2017-02-01 00:53:00,FM-15,7,37.0
1,72520514762,2017-02-01 01:53:00,FM-15,7,37.0
2,72520514762,2017-02-01 02:53:00,FM-15,7,36.0
3,72520514762,2017-02-01 03:53:00,FM-15,7,36.0
4,72520514762,2017-02-01 04:53:00,FM-15,7,36.0

In [68]:
# Load the energy and temperature datasets into a single pandas DataFrame that is matched by date
df = pd.DataFrame({
    'MW': energy['mw'],
    'Temp': temperature['HourlyDryBulbTemperature'],
    'Date': temperature['DATE'],   
})

df['hour'] = pd.DatetimeIndex(df['Date']).hour
df['day'] = pd.DatetimeIndex(df['Date']).day
df['weekday'] = pd.DatetimeIndex(df['Date']).weekday
df['month'] = pd.DatetimeIndex(df['Date']).month
df['year'] = pd.DatetimeIndex(df['Date']).year

df.set_index('Date', inplace=True)

In [69]:
# Let's use boolean indexing to find null values

df[df['Temp'].isnull()]

                           MW  Temp  hour  day  weekday  month  year
Date
2018-10-25 12:53:00  1569.389   NaN    12   25        3     10  2018
2018-12-25 02:53:00  1269.577   NaN     2   25        1     12  2018
2018-12-25 03:53:00  1263.540   NaN     3   25        1     12  2018
2018-12-25 04:53:00  1271.892   NaN     4   25        1     12  2018
2018-12-25 05:53:00  1304.021   NaN     5   25        1     12  2018
2018-12-25 06:53:00  1340.344   NaN     6   25        1     12  2018
2018-12-25 07:53:00  1380.992   NaN     7   25        1     12  2018
2018-12-25 08:53:00  1395.445   NaN     8   25        1     12  2018
2018-12-25 09:53:00  1422.708   NaN     9   25        1     12  2018
2018-12-25 10:53:00  1438.822   NaN    10   25        1     12  2018
2018-12-25 11:53:00  1413.274   NaN    11   25        1     12  2018
2018-12-25 12:53:00  1394.176   NaN    12   25        1     12  2018
2018-12-25 13:53:00  1375.023   NaN    13   25        1     12  2018
2018-12-25 14:53:00  1354.344   NaN    14   25        1     12  2018
2018-12-25 15:53:00  1348.573   NaN    15   25        1     12  2018
2018-12-25 16:53:00  1379.544   NaN    16   25        1     12  2018
2018-12-25 17:53:00  1455.665   NaN    17   25        1     12  2018
2018-12-25 18:53:00  1462.390   NaN    18   25        1     12  2018
2018-12-25 19:53:00  1462.030   NaN    19   25        1     12  2018
2018-12-25 20:53:00  1461.466   NaN    20   25        1     12  2018
2018-12-25 21:53:00  1448.051   NaN    21   25        1     12  2018
2018-12-25 22:53:00  1406.473   NaN    22   25        1     12  2018
2018-12-25 23:53:00  1345.258   NaN    23   25        1     12  2018
2018-12-26 00:53:00  1301.272   NaN     0   26        2     12  2018
2018-12-26 01:53:00  1267.715   NaN     1   26        2     12  2018
2018-12-26 02:53:00  1264.119   NaN     2   26        2     12  2018
2018-12-26 03:53:00  1259.701   NaN     3   26        2     12  2018
2018-12-26 04:53:00  1279.052   NaN     4   26        2     12  2018
2018-12-26 05:53:00  1332.444   NaN     5   26        2     12  2018
2018-12-26 08:53:00  1526.808   NaN     8   26        2     12  2018
2018-12-26 09:53:00  1558.543   NaN     9   26        2     12  2018
2018-12-26 10:53:00  1564.532   NaN    10   26        2     12  2018
2018-12-26 11:53:00  1543.588   NaN    11   26        2     12  2018
2019-05-26 01:53:00  1216.115   NaN     1   26        6      5  2019
2019-05-26 02:53:00  1174.187   NaN     2   26        6      5  2019
2019-05-26 03:53:00  1161.376   NaN     3   26        6      5  2019
2019-05-26 07:53:00  1330.041   NaN     7   26        6      5  2019

In [70]:
df.interpolate(inplace=True)

In [71]:
# Let's verify that we don't have null temperatures anymore
df[df['Temp'].isnull()]

Empty DataFrame
Columns: [MW, Temp, hour, day, weekday, month, year]
Index: []

In [72]:
df

                           MW  Temp  hour  day  weekday  month  year
Date
2017-02-01 00:53:00  1419.881  37.0     0    1        2      2  2017
2017-02-01 01:53:00  1379.505  37.0     1    1        2      2  2017
2017-02-01 02:53:00  1366.106  36.0     2    1        2      2  2017
2017-02-01 03:53:00  1364.453  36.0     3    1        2      2  2017
2017-02-01 04:53:00  1391.265  36.0     4    1        2      2  2017
...                       ...   ...   ...  ...      ...    ...   ...
2020-01-31 19:53:00  1618.484  34.0    19   31        4      1  2020
2020-01-31 20:53:00  1580.925  33.0    20   31        4      1  2020
2020-01-31 21:53:00  1545.354  33.0    21   31        4      1  2020
2020-01-31 22:53:00  1478.832  33.0    22   31        4      1  2020
2020-01-31 23:53:00  1405.188  34.0    23   31        4      1  2020

[26280 rows x 7 columns]

In [73]:
# Create a training dataset with values up through 12-31-2019
df[df['year'] <= 2019].to_csv("training-dataset-up-to-2019.csv")

In [74]:
# Create a testing dataset with values for 2020
df[df['year'] == 2020].to_csv("testing-dataset-2020.csv")